<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ModelOPT" connectionString="data source=MTS-DB03\SISTEMAS;initial catalog=OPTracker;persist security info=True;user id=sa;password=asytdb03;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ModelSICOEM" connectionString="data source=MTS-DB03\SISTEMAS;initial catalog=SICOEM;persist security info=True;user id=sa;password=asytdb03;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="NAVISION" connectionString="data source=mgsnav01;initial catalog=NAVISION;persist security info=True;user id=sa;password=c;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Sailine" connectionString="Data Source=mts-db03\Sistemas;Initial Catalog=HELPDESK;Persist Security Info=True;User ID=sa;Password=asytdb03" providerName="System.Data.SqlClient" />
    <add name="PMTracker" connectionString="Data Source=mts-db03\Sistemas;Initial Catalog=PMTracker;Persist Security Info=True;User ID=sa;Password=asytdb03" providerName="System.Data.SqlClient" />
    <add name="DB_PORTAL" connectionString="data source=mts-appslab01;initial catalog=portal_connext;user id=sa;password=asytlab01;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>