<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="Bonos" connectionString="data source=MTS-DB03\SISTEMAS;initial catalog=SICOEM;persist security info=True;user id=sa;password=asytdb03;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="DB_PORTAL" connectionString="Data Source=mts-appslab01;Initial Catalog=portal_connext;User ID=sa;Password=asytlab01;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="ModelOPT" connectionString="data source=MTS-DB03\SISTEMAS;initial catalog=OPTracker;persist security info=True;user id=sa;password=asytdb03;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="ModelSICOEM" connectionString="data source=MTS-DB03\SISTEMAS;initial catalog=SICOEM;persist security info=True;user id=sa;password=asytdb03;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="NAVISION" connectionString="data source=mgsnav01;initial catalog=NAVISION;persist security info=True;user id=sa;password=c;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Sailine" connectionString="Data Source=mts-db03\Sistemas;Initial Catalog=HELPDESK;Persist Security Info=True;User ID=sa;Password=asytdb03" providerName="System.Data.SqlClient"/>
    <add name="PMTracker" connectionString="Data Source=mts-db03\Sistemas;Initial Catalog=PMTracker;Persist Security Info=True;User ID=sa;Password=asytdb03" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>